################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MYPM.Api/obj
/MYPM.Data/obj
